.location-select-search {
  background-color: #0070f3;
  width: 200px;
  height: 26px;
  display: inline-block;
  position: relative;

  & > div:nth-child(1){
    height: 100%;

    input {
      height: 100%;
      width: 100%;
    }
  }

  & > div:nth-child(2){
    background-color: green;
    position: absolute;
    width: 100%;
  }
}