
.storefront-listing {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 6px 6px 6px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 100;


  @media (min-width: 992px) {
    padding: 10px 80px;
  }


  .vendor-info {

    @media (min-width: 768px) {
      display: flex;
      color: #21201f;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }

  .vendor-location {
    @media (min-width: 768px) {
      margin-left: 12px;
      display: flex;
    }

    @media (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
      display: none;
    }

    svg{
      @media (min-width: 768px) {
        margin-right: 8px;
        transform: scale(1.2);
      }
    }
  }

  .vendor-name {
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
      margin-right: 20px;
    }
  }

  .sticky-btns {
    display: flex;
    @media (max-width: 767px) {
      flex-flow: column-reverse wrap;
      justify-content: center;
      width: 100%;
    }
  }

}

